@font-face {
  font-family: "Neue Haas Grot";
  src: url("assets/fonts/NeueHaasGrotTextRound-55Roman-Web.woff2") format("woff2"),
    url("assets/fonts/NeueHaasGrotTextRound-55Roman-Web.woff") format("woff"),
    url("assets/fonts/NeueHaasGrotTextRound-55Roman-Web.eot") format("eot");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Grot";
  src: url("assets/fonts/NeueHaasGrotTextRound-65Medium-Web.woff2") format("woff2"),
    url("assets/fonts/NeueHaasGrotTextRound-65Medium-Web.woff") format("woff"),
    url("assets/fonts/NeueHaasGrotTextRound-65Medium-Web.eot") format("eot");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Grot";
  src: url("assets/fonts/NeueHaasGrotTextRound-75Bold-Web.woff2") format("woff2"),
    url("assets/fonts/NeueHaasGrotTextRound-75Bold-Web.woff") format("woff"),
    url("assets/fonts/NeueHaasGrotTextRound-75Bold-Web.eot") format("eot");
  font-weight: bold;
  font-style: normal;
}