// colors
$pink: #EA4C89;
$white: #fff;
$blue: #4285F4;
$grey: #757575;
$light-grey: #F2F2F2;
$input-background: #F5F6F7;
$black: #333333;
$link: #4285F4;
$yellow-gradient: linear-gradient(180deg, #F3D083 38.13%, #F0D08B 100%);
$text-opacity: 0.4;